{% include credits.html%}

<footer class="footer-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-3 footer-social text-center order-md-3">
        {% for contacts_hash in site.contacts %}
          {% assign contact = contacts_hash[1] %}
          <a href="{{ contact.url }}" class="mr-2" target="_blank" alt="{{ contact.label }}">
            <i class="{{ contact.class }}"></i>
          </a>
        {% endfor %}
      </div>
      <div class="col-12 col-md-6 text-center order-md-2">
        <p class="copyright mb-0 text-white">
          &copy; BRG Trainings - {{ site.year }} {{ site.title }}. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
