{% if site.life_cycle == "pre-alpha" %}
  <div class="life-cycle pre-alpha">
    This workshop is still being designed and assembled (Pre-Alpha version)
  </div>
{% elsif site.life_cycle == "alpha" %}
  <div class="life-cycle alpha">
    This workshop is in the early stages of development (Alpha version)
  </div>
{% elsif site.life_cycle == "beta" %}
  <div class="life-cycle beta">
    This workshop is being piloted (Beta version)
  </div>
{% elsif site.life_cycle == "stable" %}
  {% comment %}
    We don't do anything special for now
  {% endcomment %}
{% endif %}
