<!-- navbar -->
<nav class="navbar fixed-top shadow-sm navbar-expand-lg">
  <div class="container">
    <a href="https://itgurukula.org" class="brand">
      <img src="{{ site.baseurl }}{{ site.image_base_url }}/logo.svg" alt="{{ site.title }}" />
      <span>{{ site.title }}</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class='bx bx-menu'></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item{% if page.page_name == 'home' %} active{% endif %}">
          <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/">Schedule</a>
        </li>

        <li class="nav-item">
          {% include milestones-nav-items.html %}
        </li>

        {% comment %}
          The following nav item links to https://brgtrainings.com/workshops
        {% endcomment %}
        <!-- <li class="nav-item">
          <a class="nav-link" href="/workshops/">Workshops</a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/license/">License</a>
        </li>

        <li class="nav-item {% if page.page_name == 'extras' %} active{% endif %}">
          {% include extras-nav-items.html %}
        </li>
      </ul>
    </div>
  </div>
</nav>
