/* Custom SCSS */
$color-primary: #ddd;

html,
body {
  height: 100%;
}
body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 15px;
}
main {
  line-height: 30px;
}
code, kbd, pre, samp {
  font-family: 'Inconsolata', SFMono-Regular,Menlo,Monaco,Consolas,monospace;
  font-size: 15px;
  line-height: 22px;
}
ul, ol, table, blockquote p {
  line-height: 22px;
}
a, a:hover {
  text-decoration: none !important;
}
.blue {
  color: #175EEE;
}
.red {
  color: #EE2020
}
.green {
  color: #0AAA50;
}
.page-margin {
  margin-top: 70px;
}
.non-milestone-page {
  padding: 4rem 0;
}

#page-content {
  flex: 1 0 auto;
}
#sticky-footer {
  flex-shrink: none;
}
pre {
  padding: 10px;
}
.highlight pre {
  margin: 0;
  border: 0;
}
.mt-7 {
  margin-top: 4rem;
}

// credits
.credits {
  background-color: #555;
  color: #fff;
  padding: 0.5rem 0;

  p {
    margin-bottom: 0;
    font-size: 14px;
  }
  a:link {
    color: #a8d5ff;
  }
}

// lifecycle
.life-cycle {
  padding: 0.2rem 1rem;
  font-size: 14px;
  text-align: center;
  background-color: #555;
  position: fixed;
  top: 61px;
  width: 100%;
  z-index: 100;
  font-size: 1em;
  border-radius: 0;
}

// footer css
.footer-section {
  background: #333;
  padding: 0.8rem;

  .footer-text {
    font-size: 24px;
    color: #fff;

    span {
      font-weight: 600;
    }
  }
  .copyright {
    font-size: 13px;
    vertical-align: middle;

    a {
      color: #a8d5ff;
      text-decoration: underline;
    }
  }
  .footer-social {
    a {
      font-size: 18px;
      display: inline-block;
      color: #fff;
    }
  }
}

@import "syntax-highlighting";
@import "lesson";
@import "home";
@import "responsive";
